body {
	background-color: $off-white;
	color: $grey;
}

.siteHeader {
	margin-bottom: 4rem;
	
	.header__top {
		background-color: $sky-blue;
	}
}

.main {
	margin-bottom: 3rem;
	clear: both;	
}

.siteFooter {
	text-align: center;
}