// colour palette
$white: 	 #ffffff;
$off-white:	 #fbfbfb;
$sky-blue: 	 skyblue;
$grey: 		 #444444;
$light-grey: #979797;

// break points
$mobile: 		 320px;
$mobile__large:	 480px;
$tablet: 		 768px;
$tablet__large:	 1025px;
$desktop:		 1280px;
$desktop__large: 1480px;