.button {
	color: $white;
	border: 1px solid $white;
	padding: 6px 12px;
	border-radius: 6px;
	transition: 0.3s;
	
	@include breakpoint($mobile__large) {
		border: 0;
		padding: 0;
	}
	
	&:hover {
		background-color: $white;
		color: $grey;
		text-decoration: none;
		
		@include breakpoint($mobile__large) {
			background-color: transparent;
		}
	}
}

.icon {
	
	@include breakpoint($mobile__large) {
		font-size: 2rem;
	}
}