.header__top {
	padding: 40px 0 0 0;
	color: $white;
	
	.header__title {
		padding-left: 240px;
	}
	
	.header__cta {
		text-align: right;
		align-self: center;
	}
}

.header__bottom {
	padding: 20px 0 0 0;
}